In [1]:
import numpy as np
import pandas as pd
import pickle as pkl
from tqdm import tqdm

In [2]:
# read in original data
dfa = pd.read_csv('../data/toxicity_annotations.tsv',sep='\t')
dfc = pd.read_csv('../data/toxicity_annotated_comments.tsv',sep='\t')

# read in dialect subsets
aave = pd.read_json("../data/aave.jsonl", lines=True)
nigerianD = pd.read_json("../data/nigerianD.jsonl", lines=True)
indianD = pd.read_json("../data/indianD.jsonl", lines=True)
singlish = pd.read_json("../data/singlish.jsonl", lines=True)

# get the first 500 toxicity scores in dfa for development
dfa_sample = dfa.iloc[:500]

In [7]:
dfa_sample.head()

   rev_id  worker_id  toxicity  toxicity_score
0  2232.0        723         0             0.0
1  2232.0       4000         0             0.0
2  2232.0       3989         0             1.0
3  2232.0       3341         0             0.0
4  2232.0       1574         0             1.0

In [8]:
set(dfa_sample["toxicity_score"])

{-2.0, -1.0, 0.0, 1.0, 2.0}

In [10]:
dfc.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,2232.0,This:NEWLINE_TOKEN:One can make an analogy in ...,2002,True,article,random,train
1,4216.0,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,2002,True,user,random,train
2,8953.0,Elected or Electoral? JHK,2002,False,article,random,test
3,26547.0,`This is such a fun entry. DevotchkaNEWLINE_...,2002,True,article,random,train
4,28959.0,Please relate the ozone hole to increases in c...,2002,True,article,random,test

In [4]:
aave.head()

,text,rules
0,This:NEWLINE_TOKEN:One might can make an analo...,"[who_which, clefting, aint_before_main, double..."
1,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,"[regularized_plurals, drop_copula_be_NP, negat..."
2,Elect or Electoral? JHK,[bare_perfect]
3,`This are such a fun entrys. DevotchkaNEWLIN...,"[generalized_third_person_s, linking_relcl, do..."
4,Please relate that ozone hole to increases in ...,"[plural_to_singular_human, acomp_focusing_like..."

In [5]:
nigerianD.head()

,text,rules
0,This:NEWLINE_TOKEN:One can make an analogy mat...,"[null_prepositions, more_much, uninflect, remo..."
1,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,"[progressives, regularized_plurals, drop_inf_t..."
2,Elected or Electoral? JHK,[]
3,`This is such a fun entry. DevotchkaNEWLINE_...,"[regularized_plurals, drop_inf_to, it_dobj, nu..."
4,Please relate ozone hole to increases in cance...,[remove_det_definite]